@media screen and (min-width: 750px) {
  .product_parent {
    display: flex;
    max-width: 1200px;
    padding: 0 20px;
    grid-gap: 20px;
    align-items: flex-start;
    margin: 0 auto;
  }
  div#jewelry-builder-app-product-options-wrapper {
    width: 30%;
  }
  div#jewelry-builder-app-media-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .product_parent {
    padding: 0 20px;
  }
}

div#jewelry-builder-app-product-options-wrapper h1 {
  margin-top: 0;
}

div#jewelry-builder-app-product-options-wrapper p {
  margin-bottom: 0;
}


// 


div.product-form__input.product-form__quantity {
  display: none;
}

div:has(> product-form) {
  display: none;
}

#jewelry-builder-app-media-wrapper #image-main {
  width: 100%;
  height: 100%;
}

[id*="shopify-block-"] {
  // -webkit-user-select: none; /* Safari */
  // -ms-user-select: none; /* IE 10 and IE 11 */
  // user-select: none;

  fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border: unset;
    padding: unset;
    margin-bottom: 16px;

    position: relative;
  }

  fieldset select {
    border: none;
    background: none;
    outline: 1px solid #7c7c7c;
    height: 47px;
    padding: 1em;

    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    width: 100%;
  }

  fieldset:has(> select)::after {
    content: "▼";
    font-size: 1rem;
    top: 1.5rem;
    right: 1rem;
    position: absolute;
  }

  // Input Type Range START
  @mixin track() {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 2px;
    background: black;
  }
  @mixin thumb() {
    // box-sizing: border-box;
    // border: none;
    // width: 1.5em;
    // height: 1.5em;
    // border-radius: 20%;
    // background: red;
  }
  input[type="range"] {
    &::-webkit-slider-runnable-track {
      @include track;
    }
    &::-moz-range-track {
      @include track;
    }
    &::-ms-track {
      @include track;
    }

    &::-webkit-slider-thumb {
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      @include thumb;
    }

    width: 100%;
    // display: none;
  }
  datalist {
    // display: flex;
    display: none;
    width: 100%;
    justify-content: space-between;
    // padding: 0 .45em;

    option {
      // padding: 0;
    }

    option:not(:first-child):not(:last-child) {
      display: none;
    }
  }
  // Input Type Range END

  // Custom Input type range start
  .input_type_range {
    width: 100%;
    height: 2px;
    border: 1px solid #c5c5c5;
    background-color: #595959;
    position: relative;
    margin-top: 10px;
    margin-bottom: 16px;

    .input_type_range_tick_mark {
      // left: 4%;
      display: inline-block;
      width: 1px;
      background: #595959;
      height: 6px;
      position: absolute;
      top: -3px;

      sub {
        line-height: 0;
        position: relative;
        vertical-align: baseline;
        bottom: -1.1em !important;
        font-size: 65% !important;
        color: gray;

        &.left_sub,
        &.right_sub {
          display: inline-block;
          width: 100px;
        }

        &.left_sub {
          left: -1px !important;
          // display: inline-block;
          // width: 100px;
        }

        &.right_sub {
          right: 99px !important;
          text-align: right;
          // display: inline-block;
          // width: 100px;
        }
      }
    }

    .input_type_range_handle {
      position: absolute;
      top: -10px;
      // width: auto;
      width: max-content;
      padding: 5px;
      line-height: 10px;
      text-transform: uppercase;
      font-size: 13px;
      height: 20px;

      border: 1px solid #c5c5c5;
      background: white;
      font-weight: normal;
      color: #454545;
      margin-left: -0.6em;
      z-index: 1;
    }
  }

  // Custom Input type range end

  fieldset div:has(input[type="number"]) {
    height: 47px;
    outline: 1px solid #969696;

    input[type="number"] {
      appearance: textfield;
      -moz-appearance: textfield;
      -webkit-appearance: textfield;

      text-align: center;
    }

    button:first-child {
      &:disabled {
        cursor: not-allowed;
      }
    }

    button {
      cursor: pointer;
    }

    input,
    button {
      height: 100%;
      width: 47px;
      border: none;
      background: none;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;

    outline: 1px solid #d8d8d8;
    padding: 8px 7px 5px;
    /* padding: 0; */
    height: 47px;
    min-width: 47px;
    text-align: center;

    position: relative;
    // display: inline-block;

    cursor: pointer;

    span.option_value_title {
      margin-left: 7px;
    }

    span.metal_type_color {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;

      height: 32px;
      width: 32px;
      // background: #cfcac9;
      border-radius: 50%;
      margin-right: 7px;
    }
  }

  label:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  label img {
    height: 32px;
    width: 32px;
  }

  input[type="radio"] {
    display: none;
  }

  label:has(> input:checked) {
    outline: 2px solid black;
  }

  fieldset:has(> button[type="submit"]) button[type="submit"] {
    background: none;
    border: none;
    outline: 1px solid #121212;
    width: 100%;
    height: 47px;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .rca-share__button {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    color: rgb(var(--color-link));
    margin-left: 0;
    padding-left: 0;
    min-height: 4.4rem;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: .3rem;
    }

    svg {
      height: 1.2rem;
      margin-right: 1rem;
      min-width: 1.3rem;
    }
  }
}

ul.product-image-thumbs {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &:first-child {
      margin-left: -1px;
    }

    display: inline-block;

    &.video-thumb-container {
      position: relative;

      .video-thumb-overlay {
        display: block;
        background-size: cover;
        background-color: transparent !important;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("play.png");
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 70px;
        height: 70px;
      }
    }
  }

  a:hover {
    border-color: #c7c7c7;
  }

  a {
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
  }

  img {
    width: 70px;
    height: 70px;
  }
}

.swiper-button-prev, .swiper-button-next {
  display: flex !important;
  color: #121212 !important;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  color: #cbcbcb !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #121212 !important;
}